# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: Copyright © 2024 Intel Corporation.
#
# @author Noor Azura Ahmad Tarmizi <noor.azura.ahmad.tarmizi@intel.com>
# @copyright © 2024 Intel Corporation.
#
###############################################################################
/files
/*.substvars
/.*debhelper*
/*debhelper*
/tmp/
/autoreconf.*
