# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright © 2023 Erez Geva <ErezGeva2@gmail.com>
#
# @author Erez Geva <ErezGeva2@@gmail.com>
# @copyright © 2023 Erez Geva
#
# GitHub Continuous Integration script
# - Main Continuous Integration
# - Build cross packages on Debian
# - Build packages install them in system and
#   test with linuxptp and clock simulated network
#   to verify proper installation
# - compare ABI
###############################################################################

name: CI

# On evry push and Pull Request (PR)
on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

env:
  USER: builder

jobs:
  ci:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - name: deb.forky
            sha: fe6dcd99d5f97d24a13cdb59040ce131647381bf604854d68c2f7f259f84e03c
          - name: deb.trixie
            sha: 49391f56cd7fdbadfd178504718040e546f87a3382079c0962d802b46b62291e
          - name: deb.bookworm
            sha: 549cf623d65e90f9bd3165c349ba33a2da80c60dd89fa717e7f33f219b1b948b
          - name: rpmbuild
            sha: 5a0c44a7752755385102da021551fa703932ff2208312aa99101e8506376f49d
          - name: pacmanbuild
            sha: 8c90cb4f3ad1c261d6cd852cfb6e281b96d7cd64632a3fcf7490ebd70ac90cca
          - name: portage
            sha: 59a4e0d118f790366876f1fb8cacf196564339a553f2a0b1208c67248d8d4ed0
      fail-fast: false
    container:
      image: ghcr.io/erezgeva/${{ matrix.name }}@sha256:${{ matrix.sha }}
    env:
      GITHUB_CONTAINER: ${{ matrix.name }}

    steps:

    - name: checkout repository
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: continuous integration
      run: |
        case "$GITHUB_CONTAINER" in
          deb.*)
            # Debian place the debian packages in the parent folder
            chown -R $USER:$USER ..
            ;;
          *)
            chown -R $USER:$USER .
            ;;
        esac
        su $USER -c tools/ci.sh

  cross:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - name: deb.forky
            sha: fe6dcd99d5f97d24a13cdb59040ce131647381bf604854d68c2f7f259f84e03c
          - name: deb.trixie
            sha: 49391f56cd7fdbadfd178504718040e546f87a3382079c0962d802b46b62291e
          - name: deb.bookworm
            sha: 549cf623d65e90f9bd3165c349ba33a2da80c60dd89fa717e7f33f219b1b948b
      fail-fast: false
    container:
      image: ghcr.io/erezgeva/${{ matrix.name }}@sha256:${{ matrix.sha }}

    steps:

    - name: checkout repository
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: cross build
      run: |
        chown -R $USER:$USER ..
        su $USER -c tools/ci_cross.sh

  pkgs:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - name: deb.forky
            sha: fe6dcd99d5f97d24a13cdb59040ce131647381bf604854d68c2f7f259f84e03c
          - name: deb.trixie
            sha: 49391f56cd7fdbadfd178504718040e546f87a3382079c0962d802b46b62291e
          - name: deb.bookworm
            sha: 549cf623d65e90f9bd3165c349ba33a2da80c60dd89fa717e7f33f219b1b948b
          - name: rpmbuild
            sha: 5a0c44a7752755385102da021551fa703932ff2208312aa99101e8506376f49d
          - name: pacmanbuild
            sha: 8c90cb4f3ad1c261d6cd852cfb6e281b96d7cd64632a3fcf7490ebd70ac90cca
          - name: portage
            sha: 59a4e0d118f790366876f1fb8cacf196564339a553f2a0b1208c67248d8d4ed0
      fail-fast: false
    container:
      image: ghcr.io/erezgeva/${{ matrix.name }}@sha256:${{ matrix.sha }}
    env:
      GITHUB_CONTAINER: ${{ matrix.name }}

    steps:

    - name: checkout linuxptp repository
      uses: actions/checkout@v6
      with:
        repository: nwtime/linuxptp
        path: linuxptp
        persist-credentials: false

    - name: checkout clknetsim repository
      uses: actions/checkout@v6
      with:
        repository: mlichvar/clknetsim
        path: clknetsim
        persist-credentials: false

    - name: checkout repository
      uses: actions/checkout@v6
      with:
        path: libptpmgmt
        persist-credentials: false

    - name: build packages and install them
      run: |
        chown -R $USER:$USER .
        su $USER -c libptpmgmt/tools/ci_build.sh

    - name: build linuxptp
      run: su $USER -c "make -C linuxptp"

    - name: build clknetsim
      run: su $USER -c "make -C clknetsim"

    - name: build clock manager sample
      run: su $USER -c libptpmgmt/clkmgr/sample/build_sample.sh

    - name: test with linuxptp
      run: libptpmgmt/tools/ci_pkgs.sh

    - name: test clock manager with clknetsim
      run: timeout 50 libptpmgmt/clkmgr/tool/sim.sh 0

    - name: test with linuxptp without the development package
      if: ${{ matrix.name != 'portage' }}
      run: libptpmgmt/tools/ci_pkgs_no_dev.sh

    - name: test clock manager with clknetsim without the development package
      run: timeout 50 libptpmgmt/clkmgr/tool/sim.sh 1

  abi:
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/erezgeva/deb.forky@sha256:fe6dcd99d5f97d24a13cdb59040ce131647381bf604854d68c2f7f259f84e03c

    steps:

    - name: checkout repository
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
        fetch-tags: true
        persist-credentials: false

    - name: compare ABI
      run: |
        chown -R $USER:$USER .
        su $USER -c tools/ci_abi.sh

    - name: save ABI compare report
      uses: actions/upload-artifact@v4
      with:
        name: abi_report
        retention-days: 90
        path: compat_reports/

    - name: Report ABI error
      run: su $USER -c tools/ci_abi_err.sh
