# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: Copyright © 2024 Erez Geva <ErezGeva2@gmail.com>
#
# @author Erez Geva <ErezGeva2@@gmail.com>
# @copyright © 2024 Erez Geva
#
# GitHub Coverity Scan
# Results: https://scan.coverity.com/projects/erezgeva-libptpmgmt
# Defects: https://scan.coverity.com/projects/erezgeva-libptpmgmt/view_defects
###############################################################################

name: coverity scan

# Start manually
on: workflow_dispatch

# Permit read-only with GITHUB_TOKEN
permissions: read-all

jobs:
  coverity:
    runs-on: ubuntu-24.04
    steps:
    - name: Install librtpi
      run: git clone https://github.com/linux-rt/librtpi.git && cd librtpi && autoreconf --install && ./configure && sudo make install && cd - && sudo rm -rf librtpi
    - name: Install libchrony
      run: git clone https://gitlab.com/chrony/libchrony.git && cd libchrony && make && sudo make install prefix=/usr/local && cd - && sudo rm -rf libchrony
    - name: Install dependencies
      run: sudo apt-get install -y swig libtool-bin
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: autoreconf
      run: autoreconf -i
    - name: configure
      run: ./configure
    - uses: vapier/coverity-scan-action@2068473c7bdf8c2fb984a6a40ae76ee7facd7a85 # v1.8.0
      with:
        email: ${{ secrets.COVERITY_SCAN_EMAIL }}
        token: ${{ secrets.COVERITY_SCAN_TOKEN }}
        project: libptpmgmt_iaclocklib
